@charset "UTF-8";

/*共通項目*/
.contents{
  width: 1100px;
  margin: 0 auto;
}
.clearfix:after{
  display:block;
  content:"";
  clear: both;
}
img{
  vertical-align: bottom;
}

body{
  font-family: 'Raleway', sans-serif;
}
/*ヘッダー*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}
.header_inner{
  padding: 15px 0 ;
}
.header_icon{
  float: left;
  font-size: 3em;
  color: #4e4e4e;
}
.contact_button{
  float: right;
  border-radius: 5px;
  background-color: #74cfae;
  padding: 14px 12px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.contact_button:hover{
  color: #333;
}
/*コンテンツ*/
.main{
  margin-top: 78px;
}
.title_content_background{
  background-color: #f2f2f2;
}
.title_content{
  padding: 250px 0;
  text-align: center;
}
.title{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.title_content_text{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
/*コンテンツ２*/
.question_content_background{
  background-color: #74cfae;
}
.question_content{
  padding-top: 50px;
  justify-content: space-between;
  display: flex;
}
.question_content_img_iPhone{
  padding-left: 100px;
}
.question_content_box{
  text-align: center;
  width: 700px;
}
.question_content_title{
  font-size: 24px;
  color:#fff;
}
.question_content_text{
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
  color: #fff;
}

/*コンテンツ３*/
.link_content_background{
  background-color: #f2f2f2;
}
.link_content{
  padding: 60px 0 70px 0;
}
.link_content_title{
  text-align: center;
  font-size: 24px;
  color: grey;
}
.link_content_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px
}
.img_link{
  margin-left: 100px;
}
.img_link:nth-child(3n+1){
  margin-left: 0;
}
.img_link:nth-child(n+4){
  margin-top: 80px;
}
.link_content_img{
  opacity: 0.7;
  transition: 0.3s;
}
.link_content_img:hover{
  opacity: 1;
}
.link_content_button{
  margin-top: 90px;
  display: flex;
  align-items: center;
}
.link_content_button_text{
  text-align: center;
  line-height: 25px;
}
.link_content_button_mail{
  display: block;
  width: 100px;
  font-size: 12px;
  border-radius: 5px;
  background-color:  #74cfae;
  padding: 14px 20px;
  text-align: center;
  margin-left: 90px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.link_content_button_mail:hover{
  color: #333;
}


/*コンテンツ４*/
.skills_content_background{
  background-color: #4e4e4e;
}
.skills_content{
  text-align: center;
  color: #fff;
  padding: 70px 0 100px;
}
.skills_content_title{
  font-size: 24px;
}
.figure_wrap{
  display:flex;
  margin-top: 70px;
  justify-content: center;
}
.skills_content_imgs{
  margin-left: 180px;
}
.skills_content_imgs:first-child{
  margin-left: 0;
}
.skills_content_img{
  vertical-align: center;
}
.figcaption{
  font-size: 16px;
  margin-top: 10px;
}
/*　コンテンツ５*/
.sns_content_background{
  background-color: #f2f2f2;
}
.sns_content{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.icons{
  width: 185px;
  padding: 30px 0;
  font-size: 3em;
  color: #74cfae;
  transition: 0.3s;
}
.icons:hover{
  background-color: #fff;
}

/*フッター*/
.footer{
  width: 100%;
  background-color: #74cfae;
  text-align: right;
}
.footer_text{
  color: #fff;
  padding: 20px 0;
}


/*画面サイズ767px以上、1199px以下のの時*/

@media screen and (min-width:767px) and (max-width:1199px){
  .contents{
    width: 97%;
    margin: 0 auto;
  }
/*コンテンツ２*/
  .question_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .question_content_title{
    margin-top: 20px;
  }
  .question_content_img_iPhone{
    width: 25%;
    margin: 0 auto;
    padding-left: 0px;
  }
  .question_content_box{
    margin: 0 auto;
    width: 768px;
  }
/*コンテンツ３*/
  .link_content_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px
  }
  .img_link{
    margin-left: 0;
  }
  .img_link:nth-child(n+4){
    margin-top: 0;
  }
  .img_link:nth-child(4){
    margin-top: 80px;
  }
  .link_content_button{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link_content_button_mail{
    margin-top: 40px;
    margin-left: 0;
  }

/*コンテンツ４*/
  .figure_wrap{
    display:flex;
    flex-direction: column;
    margin-top: 70px;
  }
  .skills_content_imgs{
    margin:88px 0 0;
  }
  .skills_content_imgs:first-child{
    margin-top: 0;
  }
}

/*画面サイズが776px以下の時*/
@media screen and (max-width: 766px){
  .contents{
    width: 97%;
  }

/*ヘッダー*/
/*コンタクトボタン　消去*/
  .contact_button{
    display: none;
  }

  /*ハンバーガーメニュー　*/
  .header_hamburger_menu{
    float: right;
    position: relative;
    height: 36px;
    width: 42px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
  .humburger_line{
    position: absolute;
    left: 11px;
    height: 2px;
    width: 18px;
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  .humburger_line_top:nth-of-type(1){
    top: 10px;
  }
  .humburger_line_middle:nth-of-type(2){
    top:16px;
  }
  .humburger_line_buttom:nth-of-type(3){
   bottom: 10px
  }

  .humburger_button_line{
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 5px;
  }
/*ハンバーガーコンタクトボタン*/
  .humburger_contact_button{
    border-radius: 1px;
    background-color: #74cfae;
    padding: 14px 12px;
    font-size: 12px;
    color: #fff;
    transition: 0.3s;
  }
  .humburger_contact_button:hover{
    color: #333;
  }
  .humburger_contact_button_long{
    text-decoration: none;
  }
/*コンテンツ１*/

  .title_content{
    padding: 160px 0 130px;
  }
  .title{
    font-size: 80px;
  }

  /*コンテンツ２*/
  .question_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .question_content_title{
    margin-top: 20px;
  }
  .question_content_img_iPhone{
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
  }
  .question_content_box{
    width:100%;
  }
/*コンテンツ3*/
  .img_link{
    margin-left: 0;
  }
  .link_content_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px
  }
  .img_link:nth-child(n+4){
    margin-top: 0;
  }
  .img_link:nth-child(4n){
    margin-top: 80px;
  }
  .link_content_button{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link_content_button_mail{
    margin-top: 40px;
    margin-left: 0;
  }

/*コンテンツ４*/
  .figure_wrap{
    display:flex;
    flex-direction: column;
    margin-top: 70px;
  }
  .skills_content_imgs{
    margin:88px 0 0;
  }
  .skills_content_imgs:first-child{
    margin-top: 0;
  }
/*コンテンツ５*/
  .sns_content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px;
    box-sizing: border-box;
  }
  .icons{
    width: 100%;
  }

}

@media screen and (min-width: 767px){
  .humburger_contact_button{
    display: none;
    }
  .humburger_botton_line{
    display: none;
    }
  .header_hamburger_menu{
    display: none;
}
}
